{% extends 'base.html.twig' %}

{% block title %}Perfil{% endblock %}

{% block body %}
<div class="container" style="margin-top: 40px;border-radius: 8px;border: 1px solid #dedede;margin-left: auto;padding:0">
<h1>Pedidos</h1>
  {% if orders | length > 0 %}
    {% for order in orders %}
    <div class="card">
    Número de pedido:{{order.id}} || Fecha del pedido: {{order.orderdate}} || Dirección: {{order.address}} || Precio: {{order.totalprice}} || Estado del pedido: {{order.status}}  <a class="btn-success btn-sm" href={{path('app_order',{id: order.id})}}>Contenido</a>
    </div>
    {% endfor %}
  {% else %}
    <h5>No hay ningun pedido</h5>
  {% endif %}
</div>

<div class="container" style="margin-top: 20px;border-radius: 8px;border: 1px solid #dedede;margin-left: auto;padding:0">
<h1>Datos del perfil</h1>
    <div class="card">
        <form method="post" action={{ path('app_profile_update') }}>
            <div class="form-group">
              <label or="firstName">Nombre</label>
              <input id="firstName" name="firstName" class="form-control" type="text" maxlength="255" value="{{app.user.firstName}}">
            </div>
            <div class="form-group">
              <label or="lastName">Apellidos</label>
              <input id="lastName" name="lastName" class="form-control" type="text" maxlength="255" value="{{app.user.lastName}}">
            </div>
            <div class="form-group">
              <label or="address">Dirección</label>
              <input id="address" name="address" class="form-control" type="text" maxlength="255" value="{{app.user.address}}">
            </div>
            <div class="form-group">
              <label or="city">Ciudad</label>
              <input id="city" name="city" class="form-control" type="text" maxlength="255" value="{{app.user.city}}">
            </div>
            <div class="form-group">
              <label or="phone">Teléfono</label>
              <input id="phone" name="phone" class="form-control" type="number" value="{{app.user.phone}}">
            </div>
            <input type="submit" class="btn btn-success btn-sm" value="Actualizar">
        </form>
    </div>
</div>
{% endblock %}
