{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
    {# TODO CHANGE COLOR FLASH AND A NEW FLASH WHEN A USER IN NOT VERIFIED #}
    {% for flash_error in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

	<div class="section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><a href="{{ path('app_login') }}"><span>Inicio Sesión</span></a><a href="{{ path('app_register') }}"><span>Registro</span></a></h6>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<form action="{{ path('app_login') }}" method="post" class="section text-center">
											<h4 class="mb-4 pb-3">Inicio de sesión</h4>
											<div class="form-group">
												<input type="email" name="_username" class="form-style" placeholder="Email" id="username" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	            
											<div class="form-group mt-2">
												<input type="password" id="password" name="_password" class="form-style" placeholder="Contraseña" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
                                            <input type="hidden" name="_target_path" value="/"/>
											
											{% if error %}
												<div class="mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
											{% endif %}
											<button type="submit" class="btn btn-outline-dark mt-4">Acceder</button>
				      					</form>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
{% endblock %}
