{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {# TODO CHANGE COLOR FLASH AND A NEW FLASH WHEN A USER IN NOT VERIFIED #}
    {% for flash_error in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {# <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>
        <input type="hidden" name="_target_path" value="/"/>
        <button type="submit">login</button>
    </form> #}

    <a href="https://front.codes/" class="logo" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
	</a>

	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>Inicio Sesión</span><span>Registro</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<form action="{{ path('app_login') }}" method="post" class="section text-center">
											<h4 class="mb-4 pb-3">Log In</h4>
											<div class="form-group">
												<input type="email" name="_username" class="form-style" placeholder="Email" id="username" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	            
											<div class="form-group mt-2">
												<input type="password" id="password" name="_password" class="form-style" placeholder="Contraseña" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
                                            <input type="hidden" name="_target_path" value="/"/>
											<button type="submit" class="btn mt-4">login</button>
                            				{# <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p> #}
				      					</form>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Sign Up</h4>
											<div class="form-group">
												<input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
												<i class="input-icon uil uil-user"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
												<i class="input-icon uil uil-at"></i>
											</div>	
											<div class="form-group mt-2">
												<input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
												<i class="input-icon uil uil-lock-alt"></i>
											</div>
											<a href="#" class="btn mt-4">submit</a>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
{% endblock %}
